$strongCyan: hsl(172, 67%, 45%);
$darkCyan: hsl(183, 100%, 15%);
$darkGrayCyan: hsl(186, 14%, 43%);
$grayCyan: hsl(184, 14%, 56%);
$lightGrayCyan: hsl(185, 41%, 84%);
$veryLightGrayCyan: hsl(189, 41%, 97%);

